.ordersTitle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.OrderItemBlock {
  border: 0.5px solid #000;
  border-radius: 5px;
  background: #fff;
}

.noOrders {
  font-weight: 600;
  color: rgb(60, 60, 60);
  text-align: center;
}
