.categoryBox {
  list-style-type: none;
  padding: 5px 15px;
  border: 0.3px solid #bab8b8;
  border-radius: 10px;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.element {
  position: relative;
}

.elementOpen {
  position: relative;
  transform: rotate(90deg);
}

.category {
  font-size: 24px;
}
