.editBlock {
  border-bottom: 0.5px solid #8f8e8e;
}

.title {
  padding-top: 30px;
  padding-bottom: 10px;
}

.inputBox {
  padding-bottom: 10px;
  display: flex;
  gap: 8px;
}

.buttonBox {
  padding-bottom: 15px;
  display: flex;
  gap: 8px;
}
