.title {
  padding-top: 15px;
  font-size: 28px;
}

.formBox {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  gap: 10px;
}

.inputMaterial {
  width: 230px;
  border-radius: 5px;
  border: 0.5px solid;
  outline: none;
  padding: 3px 5px;
}

.inputQuantity {
  width: 30px;
  border-radius: 5px;
  border: 0.5px solid;
  outline: none;
  padding: 3px 5px;
}

.inputQuantity[type="number"]::-webkit-outer-spin-button,
.inputQuantity[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
