.title {
  padding-top: 15px;
  font-size: 28px;
}

.modalBox {
  padding: 40px 60px;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  top: 150px;
  left: 367px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 20px;
}

.modalImg {
  height: 40px;
  width: 40px;
}

.formBox {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  gap: 10px;
}

.inputMaterial {
  width: 230px;
  border-radius: 5px;
  border: 0.5px solid;
  outline: none;
  padding: 3px 5px;
}

.inputQuantity {
  width: 30px;
  border-radius: 5px;
  border: 0.5px solid;
  outline: none;
  padding: 3px 5px;
}

.inputQuantity[type="number"]::-webkit-outer-spin-button,
.inputQuantity[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: #ff0000;
  font-weight: 600;
  text-align: center;
}
