.title {
  padding-top: 15px;
  font-size: 32px;
}

.formBox {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  gap: 10px;
}

.input {
  width: 40px;
  border-radius: 10px;
  border: 0.5px solid;
  outline: none;
  padding: 3px 5px;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
