.headerBasket {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBox {
  display: flex;
  gap: 5px;
}

.list {
  padding-top: 20px;
  padding-bottom: 60px;
}

.error {
  padding-top: 30px;
  font-weight: 600;
  color: rgb(255, 0, 0);
  text-align: center;
}
