.basketCategoryBox {
  list-style-type: none;
  padding: 5px 15px;
  border: 0.3px solid #bab8b8;
  border-radius: 10px;
  position: relative;
}

.basketBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basketCategory {
  font-size: 24px;
}
