.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  width: 110px;
}

.btnBox {
  display: flex;
  gap: 5px;
}

.loginBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  font-weight: 600;
}
