.header {
  display: flex;
  flex-direction: column;
}

.orderBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  height: 40px;
  width: 110px;
}

.btnBox {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 7px;
}

.loginBox {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.login {
  font-weight: 600;
}
