.title {
  padding-bottom: 10px;
  font-size: 28px;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 25px;
  height: 25px;
}

.loadMassage {
  padding-top: 30px;
  text-align: center;
}

.list {
  padding-top: 20px;
  padding-bottom: 60px;
}
