.button {
  background: #949494;
  border-color: transparent;
  border-radius: 5px;
  padding: 2px 8px;
  color: #ffffff;
  font-family: "Roboto";
}

.buttonDisabled {
  background: #d7d7d7;
  border-color: transparent;
  border-radius: 5px;
  padding: 2px 8px;
  color: #ffffff;
  font-family: "Roboto";
}
