.createOrderBox {
  padding-bottom: 30px;
}

.createOrderInput {
  width: 200px;
  background: #ffff;
  border: 0.5px solid #000;
  border-radius: 5px;
  outline: none;
  padding: 6px 8px;
  margin-bottom: 9px;
}

.createOrderAddressBox {
  position: relative;
}

.createOrderTitle {
  padding-bottom: 5px;
}

.createOrderImg {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 35px;
  left: 184px;
}
